<div class="page-content page-container" id="page-content">
   
        <div class="row">
            <div class="col-sm-6">
                <div class="list list-row block">
                    <ng-container *ngFor="let user of this.conectedUsers">
                    <div class="list-item" data-id="19" *ngIf="this.canSendMessage(user)">
                        <div>
                        <span class="w-48 avatar gd-primary">
                            <img src="https://img.icons8.com/color/48/000000/administrator-male.png" alt=".">
                        </span>
                        </div>
                        <div class="flex"> <span class="item-author text-color" data-abc="true">{{user.userName}}</span>
                            <div class="item-except text-muted text-sm h-1x">{{user.userName}}</div>
                        </div>
                        <div class="no-wrap">
                            <div class="item-date text-muted text-sm d-none d-md-block"></div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>