.page-container{
    margin-top: 50px;
}

.fa-check-circle {
    color: green;
  }
  th{
    text-align: center;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
  .newItem{
    animation-name: example;
    animation-duration: 3s;;
  }

  @keyframes example {
    0%   {background-color: orange;}
    25%  {background-color: orange;}
    50%  {background-color: orange;}
    100% {background-color: orange;}
  }